        *{
            margin: 0;
        }
        body{
            font-family: 'Roboto Condensed', sans-serif;
        }
        .container{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            height: auto;
            border: 2px solid black;
        }

        .container div{
            padding: 800px;
            position: absolute;
            width: 700px;
            height: 700px;
        }

        .container img{
            border: 5px solid white;
            height: 500px;
            width: 500px;
            border-radius: 50%; 
        }

        h1{
            font-size: 60px;
            font-weight: bolder;
            color: whitesmoke;
        }
        h2{
            font-size: 60px;
            font-weight: bolder;
            color: whitesmoke;
        }
